{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate "Home" %}{% endblock %}

{% block content %}
<section class="container mx-auto max-w-md flex justify-center p-4">
    <div>
        <h1 class="text-2xl sm:text-4xl mb-2">Welcome to &ldquo;Web App&rdquo;&trade;!</h1>
        <p class="prose-p">
            Some meaningless text about how our product will change your life.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-10 lg:justify-start">
            <a href="{% url "account_signup" %}" class="rounded-md bg-orange-500 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Sign Up</a>
            <a href="{% url "account_login" %}" class="text-base font-semibold leading-7 text-orange-500">Log In</a>
        </div>
    </div>
</section>
{% endblock %}
